.sign-up-content-clinic {
    /* --ion-background-color: #f6f9ff; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-card-clinic {
    /* background-color: #fff; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
    /* max-width: 350px; */
  }
  
  .signup-icon-clinic {
    font-size: 28px;
    color: #000;
  }
  
  .form-wrapper-clinic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-wrapper-clinic ion-item {
    margin-bottom: 10px;
  }
  
  .form-wrapper-clinic ion-button {
    margin-top: 5px;
  }
  